<div class="container">  
  <h1>It’s really easy!</h1>
  <p>Runnerty is an open source tool writen in node.js. Just install it and start to configure your workflows in a few minutes.</p>
  <mat-card class="mat-elevation-z10">
    <div class="fake-btn-box">
      <div class="fake-btn red"></div>
      <div class="fake-btn yellow"></div>
      <div class="fake-btn green"></div>
    </div>
    <mat-card-content class="fake-code">
      <div><span class="fake-npm">npm</span> install <span class="fake-npm">-g</span> runnerty</div>
      <div class="fake-comment"># runnerty v2</div>
      <div class="fake-comment"># node > 8.6.4</div>
    </mat-card-content>
  </mat-card>
</div>

<div class="modules">
  <div class="container">
    <div fxFlex fxLayout="row wrap">
      <div fxFlex="0 0 50%"
        fxFlex.lt-md="0 0 100%">
        <h2>Do what you need wherever and whenever you want.</h2>
        <p><strong>Connect</strong> your workflows and processes with your entire stack. There is a bunch of executors, triggers and notifiers to connect runnerty with the trendiest technologies and services like Mysql, Firebase, Amazon AWS, Redis, Twitter, Slack, etc...</p>
        <p><strong>Language agnostic</strong>. Javascript? Python? PHP? Runnerty is compatible with any existing language. If you already have working processes, you can bring them to Runnerty.</p>
        <div class="icons-workflow"></div>
        <a class="see-all" href="https://github.com/runnerty/modules" target="_blank">See all modules</a>
      </div>
      <div class="tree-workflow" fxFlex="0 0 45%"
        fxFlexOffset="5%"
        fxFlex.lt-md="0 0 100%"
        fxFlexOffset.lt-md="0">
        <img src="assets/install/workflow-01.png" alt="Workflow">
      </div>
    </div>
  </div>
</div>