<div>
  <div fxFlex fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center">
    <div fxFlex>
      <div class="links" fxLayout="row wrap" fxFlexOrder="1" fxFlexOrder.lt-md="2">
        <a *ngFor="let link of menu" [href]="link.href" target="_blank" rel="noopener">{{ link.title }}</a>
      </div>
    </div>
    <div class="social" fxFlexOrder="2" fxFlexOrder.lt-md="4">
      <a href="mailto:hello@runnerty.io" (click)="onMenuNav('mail')" aria-label="link to mail">
        <mat-icon svgIcon="mail"></mat-icon>
      </a>
      <a href="https://github.com/runnerty" target="_blank" rel="noopener" (click)="onMenuNav('github')" aria-label="link to github">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a href="https://twitter.com/runnerty_io" target="_blank" rel="noopener" (click)="onMenuNav('twitter')" aria-label="link to twitter">
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
      <a
        href="https://join.slack.com/t/runnerty/shared_invite/enQtMTgxNDQ2NTk2NTk3LTg5Y2JjNzBlMTU3OGY5NDYxYjRiMmQ1Y2ZjNDVjMDk2NmM1MzNhZDYyOGZjOWZhNjFjZDE4MDYxODg0NGJkY2I"
        target="_blank"
        rel="noopener"
        aria-label="link to slack"
        (click)="onMenuNav('slack')"
      >
        <mat-icon svgIcon="slack"></mat-icon>
      </a>
    </div>
    <img fxFlexOrder="3" fxFlexOrder.lt-md="2" src="/assets/footer/trazo.png" alt="Runnerty" />
  </div>
</div>

<div class="copyright">
  <span
    >Powered by <a (click)="onMenuNav('coderty')" href="https://coderty.com" target="_blank">Coderty</a> © 2017-2020. Released under the MIT
    License.</span
  >
</div>
