<div>
  <div fxFlex fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="start center">
    <div fxFlex>
      <div  class="links" fxLayout="row wrap" fxFlexOrder="1" fxFlexOrder.lt-md="2">
        <a *ngFor="let link of menu" [href]="link.href" target="_blank" rel="noopener">{{link.title}}</a>
      </div>
    </div>
    <div class="social" fxFlexOrder="2" fxFlexOrder.lt-md="3">
      <a href="https://github.com/runnerty" target="_blank" rel="noopener" aria-label="link to github">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/runnerty_io" target="_blank" rel="noopener" aria-label="link to twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://join.slack.com/t/runnerty/shared_invite/enQtMTgxNDQ2NTk2NTk3LTkyZGQ2YWRiMGM0YWQzNGMyOTdkNDE4OTIyNzM2NTJhZDMyYTAwZjM4NDYyZTE4YzAxOTRkYjJhOTJjYjI0ODQ"
        target="_blank" rel="noopener" aria-label="link to slack">
        <i class="fab fa-slack"></i>
      </a>
    </div>
    <img fxFlexOrder="3" fxFlexOrder.lt-md="2" src="/assets/footer/trazo.png" alt="Runnerty" />
  </div>
</div>

<div class="copyright">
  <span>Powered by <a href="https://coderty.com" target="_blank">Coderty</a> © 2017-2019. Released under the MIT License.</span>
</div>
