@import '../../../styles/variables';

:host {
  color: #434142;
  background-color: #ffffff;
  display: block;
  line-height: 24px;

  @media ($break-lt-md) {
    padding-top: 96px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 0;
    line-height: 30px;
    padding: 0;
  }

  p {
    color: $text-color;
    text-align: center;
    margin: 48px auto;
    max-width: 800px;
  }

  mat-card {
    z-index: 10;
    border-radius: 24px;
    min-height: 400px;
    background-color: #29313c;

    .fake-code {
      font-family: 'Lato', sans-serif;
      overflow-wrap: break-word;
      font-weight: 400;
      padding: 0 24px 24px;
      font-size: 18px;
      line-height: 24px;

      .fake-command {
        color: #93fed2;
      }

      .fake-comment {
        padding-top: 24px;
        color: #5bc3ef;
      }
    }
  }
}
