<div class="container">
  <h1>Hands on!</h1>
  <p>To start using runnerty, use the cli and start building your own workflows.</p>
  <mat-card class="mat-elevation-z10">
    <mat-card-content class="fake-code">
      <div class="fake-comment"># Create your first Runnerty project with npx </div>
      <div class="fake-command">npx runnerty-cli new my-workflow</div>
      <div class="fake-comment"># Go into the repository</div>
      <div class="fake-command">cd my-workflow</div>
      <div class="fake-comment"># Install dependencies</div>
      <div class="fake-command">npm install</div>
      <div class="fake-comment"># Run the example</div>
      <div class="fake-command">npm start</div>
    </mat-card-content>
  </mat-card>
</div>
