@import 'styles/variables';
@import 'styles/fonts';

@include angular-material-theme($my-little-theme);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 20px;

  .container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 24px;
  }

  .mat-drawer {
    &.mat-drawer-push {
      background-color: #000000;
    }
  }

  .mat-drawer-backdrop {
    &.mat-drawer-shown {
      background-color: transparent;
    }
  }
}
